In [209]:
import pandas as pd
import numpy as np

In [210]:
def winsorize(df, quantiles):
    # -> other way
    #min_value = np.quantile(df_series, quantiles[0])
    #max_value = np.quantile(df_series, quantiles[1])
    return df.clip(df.quantile(quantiles[0]).sequence, df.quantile(quantiles[1]).sequence)

In [211]:
df = pd.DataFrame(range(1,11), columns=['sequence'])
print(winsorize(df, [0.20, 0.80]).to_markdown())

|    |   sequence |
|---:|-----------:|
|  0 |        2.8 |
|  1 |        2.8 |
|  2 |        3   |
|  3 |        4   |
|  4 |        5   |
|  5 |        6   |
|  6 |        7   |
|  7 |        8   |
|  8 |        8.2 |
|  9 |        8.2 |

In [212]:
groups = np.concatenate([np.ones(10), np.ones(10)+1,  np.ones(10)+2, np.ones(10)+3, np.ones(10)+4])
df = pd.DataFrame(data= zip(groups,
                            range(1,51)),
                columns=["group", "sequence"])
#df

In [213]:
#df.groupby("group").apply(winsorize, ([0.05, 0.95]))
df.groupby("group").apply(winsorize, ([0.05, 0.95]), include_groups=False)

          sequence
group
1.0   0       1.45
      1       2.00
      2       3.00
      3       4.00
      4       5.00
      5       6.00
      6       7.00
      7       8.00
      8       9.00
      9       9.55
2.0   10     11.45
      11     12.00
      12     13.00
      13     14.00
      14     15.00
      15     16.00
      16     17.00
      17     18.00
      18     19.00
      19     19.55
3.0   20     21.45
      21     22.00
      22     23.00
      23     24.00
      24     25.00
      25     26.00
      26     27.00
      27     28.00
      28     29.00
      29     29.55
4.0   30     31.45
      31     32.00
      32     33.00
      33     34.00
      34     35.00
      35     36.00
      36     37.00
      37     38.00
      38     39.00
      39     39.55
5.0   40     41.45
      41     42.00
      42     43.00
      43     44.00
      44     45.00
      45     46.00
      46     47.00
      47     48.00
      48     49.00
      49     49.55

In [214]:
# -> other way: df.groupby("group")[['sequence']].apply(winsorize, [0.05,0.95])
# ['sequence'] -> get the serie
# [['sequence']] -> get the serie like a col of a array which is making a df  to which we can give the apply method