In [138]:
import numpy as np
import pandas as pd

In [139]:
columns = ["Global_active_power", "Global_reactive_power", "Voltage", 
           "Global_intensity", "Sub_metering_1", "Sub_metering_2", "Sub_metering_3"
]

df = pd.read_csv("household_power_consumption.txt", 
                 sep=";", parse_dates=["Date"], dayfirst=True, na_values=["?", "", "NA"],
                 dtype={col: np.float64 for col in columns})
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [140]:
print(df.dtypes)
df.describe()

Date                     datetime64[ns]
Time                             object
Global_active_power             float64
Global_reactive_power           float64
Voltage                         float64
Global_intensity                float64
Sub_metering_1                  float64
Sub_metering_2                  float64
Sub_metering_3                  float64
dtype: object

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2075259,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,2008-12-05 19:13:27.255191040,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
min,2006-12-16 00:00:00,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,2007-12-12 00:00:00,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008-12-06 00:00:00,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,2009-12-01 00:00:00,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,2010-11-26 00:00:00,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01
std,NaN,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00,5.822026e+00,8.437154e+00

In [141]:
df.drop(["Time", "Sub_metering_2", "Sub_metering_3"], axis=1, inplace=True)

In [142]:
df.set_index("Date", inplace=True)

In [143]:
def update_types(df):
    return df
update_types(df)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.4,0.0
2006-12-16,5.360,0.436,233.63,23.0,0.0
2006-12-16,5.374,0.498,233.29,23.0,0.0
2006-12-16,5.388,0.502,233.74,23.0,0.0
2006-12-16,3.666,0.528,235.68,15.8,0.0
...,...,...,...,...,...
2010-11-26,0.946,0.000,240.43,4.0,0.0
2010-11-26,0.944,0.000,240.00,4.0,0.0
2010-11-26,0.938,0.000,239.82,3.8,0.0
2010-11-26,0.934,0.000,239.70,3.8,0.0
2010-11-26,0.932,0.000,239.55,3.8,0.0

In [144]:
df.head().index

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [145]:
df.isna().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
dtype: int64

In [146]:
df.dropna(inplace=True)
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [147]:
df.loc[:, "Sub_metering_1"] = (df["Sub_metering_1"] + 1) * 0.06

In [148]:
maxdate = pd.to_datetime("2008-12-27")
mask = (df.index >= maxdate) & (df["Voltage"] >= 242)
filtered_df = df[mask]
print(filtered_df.head().to_markdown)

<bound method DataFrame.to_markdown of             Global_active_power  Global_reactive_power  Voltage  \
Date
2008-12-27                0.996                  0.066   244.81
2008-12-27                1.076                  0.162   244.78
2008-12-27                1.064                  0.172   244.74
2008-12-27                1.070                  0.174   245.28
2008-12-27                0.804                  0.184   246.30

            Global_intensity  Sub_metering_1
Date
2008-12-27               4.0            0.06
2008-12-27               4.4            0.06
2008-12-27               4.4            0.06
2008-12-27               4.4            0.06
2008-12-27               3.4            0.06  >

In [149]:
df.iloc[88888]

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.450
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [150]:
df.index[df["Global_active_power"].argmax()]

Timestamp('2009-02-22 00:00:00')

In [154]:
sorted_df = df.iloc[:, 0:3].sort_values(["Global_active_power", "Voltage"], ascending=[False, True])
print(sorted_df.tail().to_markdown())

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |
|:--------------------|----------------------:|------------------------:|----------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |

In [161]:
#df["Global_active_power"].resample('D').mean() <- doesn't work
df.groupby("Date")["Global_active_power"].agg("mean")

Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64