In [71]:
import pandas as pd
import numpy as np

In [72]:
business_dates = pd.bdate_range('2021-01-01', '2021-12-31')

#generate tickers
tickers = ['AAPL', 'FB', 'GE', 'AMZN', 'DAI']

#create indexs
index = pd.MultiIndex.from_product([business_dates, tickers], names=['Date', 'Ticker'])

# create DFs
market_data = pd.DataFrame(index=index,
                        data=np.random.randn(len(index), 1),
                        columns=['Price'])
market_data

                      Price
Date       Ticker
2021-01-01 AAPL   -1.630710
           FB      0.108540
           GE     -1.064673
           AMZN    0.963510
           DAI     2.652515
...                     ...
2021-12-31 AAPL    1.408199
           FB      0.668532
           GE     -0.378885
           AMZN   -2.437019
           DAI     0.796479

[1305 rows x 1 columns]

In [73]:
market_data = pd.pivot_table(market_data, columns="Ticker", values="Price", index="Date").pct_change()
market_data

Ticker          AAPL       AMZN       DAI        FB         GE
Date
2021-01-01       NaN        NaN       NaN       NaN        NaN
2021-01-04 -1.684439   0.307384 -0.766323  6.959841  -2.184188
2021-01-05 -2.304935  -2.506853  0.809044 -1.439913  -0.337631
2021-01-06 -1.756493  -0.722310 -1.494383 -1.774475   1.362143
2021-01-07 -1.765810  -0.431805 -1.380534  0.054074  -0.833132
...              ...        ...       ...       ...        ...
2021-12-27 -1.508929   8.036170 -1.877477 -3.532857  -1.257828
2021-12-28 -3.230672  10.253991 -0.130802 -1.926174  -1.107257
2021-12-29 -2.490449  -0.853950 -2.435234 -1.313729 -12.398215
2021-12-30 -1.227007  -8.662640 -1.152326 -0.197389  -3.178087
2021-12-31  3.515037  -3.741177  3.063681 -3.648339  -1.342334

[261 rows x 5 columns]